html{
    background-color: whitesmoke;
}
.jumbotron{
    text-align: center;
    background-color: antiquewhite;
    color: crimson;
    font-family: monospace;
}
.jumbotron h3{
    font-family: cursive;
    font-size: 35px;
}
.navbar {
    margin-bottom: 0;
    background-color: ghostwhite;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: skyblue !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: dodgerblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.btn {
    color: skyblue;
    background-color: whitesmoke;
}

.btn:hover {
    color: dodgerblue;
}


header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 80%;
}

footer {
    background-color: ghostwhite;
    color: skyblue;
    padding: 32px;
}

.carousel-inner img {
/*    -webkit-filter: grayscale(90%);*/
    filter: grayscale(40%);
    width: 100%;
    margin: auto;
}   

.carousel-caption h6 {
    color: #fff !important;
}

.thumbnail4 {
        max-width: 370px;
}

#about-us {
    background-image: url(../images/about-back.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#sites {
    background-image: url(../images/about-back.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#warrper {
    width: 100%;
}

#help-us {
    background-image: url(../images/about-back.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#map-container {
    height: 200px;
    width: 100%;
}
