.jumbotron{
    text-align: center;
    background-color: antiquewhite;
    color: black;
    font-family: monospace;
}
.jumbotron h3{
    font-family: cursive;
    font-size: 35px;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}
.navbar {
    margin-bottom: 0;
    background-color: crimson;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
div{
    direction: rtl;
}