html {
    background-color: whitesmoke;
}

.jumbotron {
    text-align: center;
    background-color: antiquewhite;
    color: crimson;
    font-family: monospace;
}

.jumbotron h3 {
    font-family: cursive;
    font-size: 35px;
}

.navbar {
    margin-bottom: 0;
    background-color: ghostwhite;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: skyblue !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: dodgerblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.btn {
    color: skyblue;
    background-color: whitesmoke;
}

.btn:hover {
    color: dodgerblue;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 80%;
}

footer {
    background-color: ghostwhite;
    color: skyblue;
    padding: 32px;
}

.carousel-inner img {
    /*    -webkit-filter: grayscale(90%);*/
    filter: grayscale(40%);
    width: 100%;
    margin: auto;
}

.carousel-caption h6 {
    color: #fff !important;
}

.thumbnail4 {
    max-width: 370px;
}

#warrper {
    width: 100%;
}

.homeImgSize {
    width: 240px;
    height: 130px !important;
}

.home-header {
    color: skyblue;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.footerLayout {
    display: inline-block;
}

.home-sub-header {
    color: skyblue;
    font-size: 25px;
    font-family: "Libre Baskerville", serif;
    line-height: 45px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 0px;
    padding-bottom: 7px;
}

.fill {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}


/* ------- */

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: dodgerblue;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        margin-top: 40px;
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        margin-top: 40px;
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.box{
    border: hidden;
}
