#help-us {
    background-image: url(../images/about-back.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#map-container {
    height: 200px;
    width: 100%;
    margin: 10px;
    margin-left: 0px;
}

.header-straigth {
    width: 17em !important;
    padding-left: 0px;
}

.p-straigth {
    width: 32em !important;
}

.image-preview-input{
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title{
    margin-left: 2px;
}

/* Star rating*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
/*body{ margin: 20px; }*/
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
    font-size: larger;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: goldenrod;
}
.star-size {
    font-size: x-large;
    padding-left: 210px;
}