#printPlan {
    background-image: url(../images/about-back.jpg);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-top: 50px;
}

.day-box {
    height: auto;
    background-color: white !important;
    text-align: left;
    padding: 25px;
    padding-top: 10px;
}
.print-div{
    width: 80%; !important;
    margin-left: 150px;
}