<section id="help-us">
    <div class="container">
        <div class="row">

            <!-- Information how can you help us  -->
            <div class="col-sm-6">
                <div class="about-info fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <h2 class="section-heading">Help us get bigger!</h2>
                    <p>You have got two options:</p>
                    <p>1. Add a new location in the world.</p>
                    <p>2. Add a new site for a specific location in the world.</p>
                    <p>Thank you for sharing your knowlage with us.</p>
                    <br>
                    <button type="submit" class="btn btn-lg btn-block" ng-click="AddLocationBool()">Add new location</button>
                    <br>
                    <button type="submit" class="btn btn-lg btn-block" ng-click="AddSiteBool()">Add new site for a location</button>
                </div>
            </div>

            <!-- Two Choices  -->
            <!-- Option number #1 - Add new location -->
            <div class="col-sm-6" ng-if="addLocationFlag">
                <form name="city-form" method="post" action="#">
                    <div class="row fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="col-sm-6 header-straigth">
                            <h2 class="header-straigth">Add new location</h2>
                            <p class="p-straigth">For a new location you need to entered the following:</p>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" required="required" ng-model="formLocaion.name">
                        </div>
                        <div class="form-group">
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                </button>

                                <!-- image-preview-input -->
                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Browse</span>
                                    <input type="file" id="locationFile" name="file" accept="image/jpg" required="required"/>
                                </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-lg btn-block" value="Add" ng-click="AddNewLocation()"/>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Option number #2 - Add new site for a location -->
            <div class="col-sm-6" ng-if="addSiteFlag">
                <form name="site-form" method="post" action="#">
                    <div class="row fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="col-sm-6 header-straigth">
                            <h2 class="header-straigth">Add new site for a location</h2>
                            <p class="p-straigth">For a new site for a location you need to entered the following:</p>
                        </div>
                        <div class="form-group">
                            <select ng-model="site.locationID" ng-options="city.name for city in allLocations" class="form-control" required="required">
                                <option value="">City</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" required="required" ng-model="site.name">
                        </div>
                        <div class="form-group">
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                </button>

                                <!-- image-preview-input -->
                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Browse</span>
                                    <input id="siteFile" type="file" accept="image/jpeg" name="siteFile" required="required"/>
                                </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Activity time" class="form-control" placeholder="Activity time" ng-model="site.activityHours">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Address" class="form-control" placeholder="Address" ng-model="site.address" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Entrance fee" class="form-control" placeholder="Entrance fee" ng-model="site.price">
                        </div>
                        <div class="form-group">
                            <textarea type="text" name="Public Transport" class="form-control" placeholder="Public Transport" ng-model="site.publicTransport"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea type="text" name="History of the place" class="form-control" placeholder="History of the place" ng-model="site.history"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea type="text" name="tips" class="form-control" placeholder="Tips" ng-model="site.tips"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="rate" class="form-control" placeholder="Rating - Press the stars below:" readonly>
                        </div>
                        <div class="form-group">
                            <span ng-repeat="rating in ratings" class="text-center">
                                <div star-rating rating-value="rating.current" max="rating.max" class="star-size"></div>
                            </span>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="button" class="btn btn-lg btn-block" value="Add" ng-click="AddNewSite()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>