<!-- Build a sidebar-->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><h2>אתרי תיירות:</h2></li>
            <li><input type="text" class="search-query form-control" placeholder="חיפוש" ng-model="query"></li>
            <li><a href="#">לונדון</a></li>
            <li><a href="#">ניו יורק</a></li>
            <li><a href="#">ברלין</a></li>
            <li ng-repeat="site in sites">{{site.name}}</li>
            <a href="#menu-toggle" class="btn btn-default btn-block" id="menu-toggle">הסתר</a>
        </ul>
    </div>
</div>

<div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="row text-center">
                  <div class="col-sm-4">
                    <div class="thumbnail">
                      <img src="images/london.jpg" alt="Paris">
                      <p><strong>לונדון</strong></p>
                      <button class="btn">תכנן את הטיול!</button>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="thumbnail">
                      <img src="images/newyork.jpg" alt="New York">
                      <p><strong>ניו יורק</strong></p>
                      <button class="btn">תכנן את הטיול!</button>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="thumbnail">
                      <img src="images/berlin.jpg" alt="San Francisco">
                      <p><strong>ברלין</strong></p>
                      <button class="btn">תכנן את הטיול!</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>

<!--  Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
